.PlayTile-container {
  --tile-width: calc(var(--square-size) * 0.06208);
  --tile-height: calc(var(--tile-width) * 4 / 3);
  --tile-container-height: calc(var(--tile-height) * 1.18);

  --glowShadow: 0px 8px 7px #4753fc1f;
  --glowShadow-raised: 0px 20px 7px #4753fc14;
}

.PlayTile-container {
  display: inline-block;
  position: relative;
  transition: all 0.32s;

  width: var(--tile-width);
  height: var(--tile-container-height);

  border: 1px solid var(--ink);
  background: var(--ink);
  box-shadow: var(--glowShadow);

  cursor: pointer;
}

/*------ HOVER STYLES ------*/
.PlayTile-container:hover {
  box-shadow: var(--glowShadow-raised);
  transform: translateY(-12px);
  transition: all 0.54s;
}

/*------ TILE LAYERS ------*/
.PlayTile-front {
  background-color: var(--white);
  background-position: center;
  background-size: cover;

  position: absolute;
  top: 18%;
}

.PlayTile-top {
  background: linear-gradient(180deg, #c8cbff -3.28%, var(--white) 13.93%);

  position: absolute;
  top: 9%;
}

.PlayTile-back {
  background-color: var(--ink);
}

/*------ TILE HELPERS ------*/
.PlayTile-side {
  width: 100%;
  height: calc(85% - 2px);
}
