.HomePage-button {
  outline: none;
  border: none;
  padding: 8px 12px;
  font-size: 18px;

  text-transform: lowercase;

  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.HomePage-secondaryButton {
  color: var(--ink);
  font-family: "Noto Serif", serif;
  font-weight: 600;
}
.HomePage-secondaryButton:hover {
  background-image: url("/Brushes/InkyBrush.svg");
}

.HomePage-primaryButton {
  color: var(--ink);
  font-family: "Noto Serif", serif;
  font-weight: 600;
}
.HomePage-primaryButton:hover {
  color: var(--paper);
  background-image: url("/Brushes/InkBrush.svg");
}

.HomePage-input {
  color: var(--ink);
  border: 1px solid var(--ink);
  background: none;
  padding: 4px;

  margin: 0 4px;
}

.HomePage-input:focus,
.HomePage-input:focus-within,
.HomePage-input:active {
  outline: 3px #4753fc62 solid;
  -moz-outline-radius: 4px;
}
