:root {
  --tile-width: 42px;
  --tile-height: calc(var(--tile-width) * 4 / 3);
  --tile-depth: calc(var(--tile-width) * 1 / 2);

  --border-color: black;
}

.Tile-container {
  /* margin: 100px; */
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;

  cursor: pointer;
}

.Tile-container.one {
  transform: rotate3d(0);
}
.Tile-container.two {
  transform: rotate3d(1, 0, 0, -0.04turn);
}
.Tile-container.three {
  transform: rotate3d(1, 0.5, 0, -0.05turn);
}

.Tile-side {
  position: absolute;
  backface-visibility: inherit;
  border-radius: 4px;
  background-color: #c39540;
  border: 2px var(--border-color) solid;
  box-shadow: 0 0 0 0 var(--border-color);
}

/*------ TILE OUTLINES ------*/
.Tile-right,
.Tile-left {
  border-top: none;
}
.Tile-top {
  border-right: none;
}

.two .Tile-top {
  border-right: 2px var(--border-color) solid;
}
.two .Tile-front {
  box-shadow: 0 0 0 1px var(--border-color);
}
.two .Tile-back {
  box-shadow: 0 0 0 1px var(--border-color);
}

.three .Tile-front {
  box-shadow: 0 0 0 1px var(--border-color);
}
.three .Tile-left {
  box-shadow: 0 0 0 2px var(--border-color);
}
.three .Tile-bottom {
  box-shadow: 1px 0 0 1px var(--border-color);
}
.three .Tile-back {
  box-shadow: 0 0 0 2px var(--border-color);
}

/*------ TILE SIZES ------*/
.Tile-front,
.Tile-back {
  width: 100%;
  height: 100%;
}
.Tile-top,
.Tile-bottom {
  width: 100%;
  height: calc(2 * var(--tile-depth));
}
.Tile-left,
.Tile-right {
  width: calc(2 * var(--tile-depth));
  height: 100%;
}

/*------ TILE ROTATIONS ------*/
.Tile-front {
  background-color: beige;
  background-position: center;
  background-size: cover;
  transform: translateZ(var(--tile-depth));
}
.Tile-back {
  transform: rotateY(180deg) translateZ(var(--tile-depth));
}
.Tile-top {
  transform: rotateX(90deg) translateZ(var(--tile-depth));
}
.Tile-bottom {
  transform: translateY(13px) rotateX(-90deg) translateZ(var(--tile-depth));
}
.Tile-right {
  transform: rotateY(90deg) translateZ(var(--tile-depth));
}
.Tile-left {
  transform: rotateY(-90deg) translateZ(var(--tile-depth));
}
