.Centerpiece {
  --center-square-size: calc(var(--square-size) * 0.28508);

  width: var(--center-square-size);
  height: var(--center-square-size);
  position: relative;
}

.Centerpiece-square {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--poppy);

  opacity: 0.4;
}

.Centerpiece-squareCut {
  width: calc(100% - 6px);
  height: calc(100% - 6px);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  background: var(--paper);
}

.Centerpiece-cut {
  clip-path: polygon(
    6% 0,
    94% 0,
    94% 0%,
    94% 3%,
    97% 6%,
    100% 6%,
    100% 94%,
    97% 94%,
    94% 97%,
    94% 100%,
    6% 100%,
    6% 97%,
    3% 94%,
    0% 94%,
    0 6%,
    3% 6%,
    6% 3%
  );
}
.Centerpiece-innerCut {
  clip-path: polygon(
    6.5% 0,
    93.5% 0,
    93.5% 0%,
    93.5% 2%,
    98% 6.5%,
    100% 6.5%,
    100% 93.5%,
    98% 93.5%,
    93.5% 98%,
    93.5% 100%,
    6.5% 100%,
    6.5% 98%,
    2% 93.5%,
    0% 93.5%,
    0 6.5%,
    2% 6.5%,
    6.5% 2%
  );
}

.Centerpiece-squareCut .Centerpiece-squareCut {
  width: calc(100% - 9px);
  height: calc(100% - 9px);
  background: var(--poppy);
}

.Centerpiece-innerCut .Centerpiece-innerCut {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: var(--paper);
}

/*------ ROUND WIND #01F2DF ------*/
.Centerpiece-wind {
  --circle-diameter: calc(var(--square-size) * 0.13146);

  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: 50%;
  border: 3px solid var(--poppy);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--poppy);
  font-size: calc(var(--circle-diameter) * 0.7);
  font-family: "Noto Serif TC";
  font-weight: bold;
}

.Centerpiece-wind-CN {
  margin-top: -10%;
}

.Centerpiece-wind-EN {
  position: absolute;
  left: 90%;

  background: var(--paper);

  font-size: calc(var(--square-size) * 0.03545);
  font-family: "Source Serif Pro";
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 1em;
}
.Centerpiece-wind-EN ~ .Centerpiece-wind-EN {
  right: 90%;
  left: unset;
  transform: rotate(180deg);
}

/*------ TILES REMAINING #01F2DF ------*/
.Centerpiece-tilesRemaining {
  position: absolute;
  bottom: 12%;

  font-size: calc(var(--center-square-size) * 0.0673);
  color: var(--poppy);
}

.Centerpiece-tilesRemaining ~ .Centerpiece-tilesRemaining {
  top: 12%;
  bottom: unset;

  transform: rotate(180deg);
}

/*------ PLAYED TILES #01F2DF ------*/
.Centerpiece-playedTiles {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;

  width: var(--center-square-size);
  height: var(--center-square-size);
}

.Centerpiece-tile-bottom {
  bottom: 0;
  transform: translateY(100%);
}
.Centerpiece-tile-top {
  top: 0;
  transform: translateY(-100%) rotate(180deg);
}
.Centerpiece-tile-left {
  left: 0;
  transform: translateX(-100%) rotate(90deg);
}
.Centerpiece-tile-right {
  right: 0;
  transform: translateX(100%) rotate(-90deg);
}

.Centerpiece-playedTiles .OpenTile-container {
  --tile-width: calc(var(--center-square-size) * 0.14444);

  margin-top: calc(var(--center-square-size) * 0.01);
  margin-right: calc(var(--center-square-size) * 0.01);

  opacity: 0.6;
}

.Centerpiece-playedTiles .OpenTile-container.isLastPlayed {
  background-color: white;
  opacity: 1;
  box-shadow: var(--glowShadow);
}

/*------ TURN MARKER #01F2DF ------*/
.Centerpiece-turn {
  --marker-size: calc(var(--center-square-size) * 0.06735);

  position: absolute;
  opacity: 0;

  border-style: solid;
  border-width: var(--marker-size) var(--marker-size) 0 var(--marker-size);
  border-color: var(--poppy) transparent transparent transparent;
}

.Centerpiece-turn-bottom {
  bottom: 0;
  transform: translateY(34%);
}
.Centerpiece-turn-top {
  top: 0;
  transform: translateY(-34%) rotate(180deg);
}
.Centerpiece-turn-left {
  left: 0;
  transform: translateX(-34%) rotate(90deg);
}
.Centerpiece-turn-right {
  right: 0;
  transform: translateX(34%) rotate(-90deg);
}

.Centerpiece-isTurn {
  opacity: 1;
}
