/*------ FONT IMPORTS  ------*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&family=Space+Mono:wght@400;700&family=Noto+Serif+TC:wght@400;600&&display=swap");

/*------ COLOR DECLARATIONS  ------*/
/* prettier-ignore */
:root {
  --gold:   #cf8600;
  --poppy:  #ac391b;
  --ink:    #262c86;
  --liquid: #07a7a1;
  --lily:   #6fa38c;
  --jade:   #3a8227;
  --white:  #ffffff;
  --paper:  #f1efec;
  --ash:    #515151;

  --glowShadow: 0px 8px 7px #4753fc1f;
  --glowShadow-raised: 0px 20px 7px #4753fc14;
}
/* end prettier ignore */

@media (prefers-reduced-motion: no-preference) {
}

/*------ SQUARE SIZE  ------*/
@media (orientation: landscape) {
  :root {
    --square-size: 76vh;
  }
}
@media (orientation: portrait) {
  :root {
    --square-size: 72vw;
  }
}

/*------ BASIC BODY STYLES  ------*/
body {
  font-family: "Space Mono", monospace;
  color: var(--ink);

  overflow: hidden;
  background-color: var(--paper);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  color: var(--poppy);
}
